//
.landing
  img
    max-width 100%
  .video
    column(2/3, $cycle:2)
    position relative
    iframe
      line-height 0
    #createHighlightBtnDiv-vimeo-0
      position absolute
      bottom 53px
      .cc-container
        margin-top 0
        top initial
        left 10px
        .cc-btn-container-share
          bottom initial
      .vimeo-highlights
        height 10px
        left 0
        opacity 0
        .impact-div
          height 8px !important
          top 0 !important
    &:hover
      #createHighlightBtnDiv-vimeo-0
        width 100%
        .vimeo-highlights
          opacity 1
  .sidebar
    column(1/3, $cycle:2)
    h1
      text-transform uppercase
      color $link-color
      font-size 24px
      text-align center
  .other-videos
    margin-top 40px
    span()
    uncycle(2)
    &-thumb
      column(1/4, $cycle:4)
      height 145px
      a
        display inline-block
      img
        opacity .3
        transition 200ms all ease-in
      .svg-play
        position absolute
        text-align center
        left 0
        right 0
        top 45px
      h3
        text-align center
        color #fff
        font-weight 600
        margin-top -40px
        transition 200ms all ease-in
      &:hover
        img
          opacity .5
  &.comedy
    .sidebar
      h1
        text-transform uppercase
        color #fff
        font-size 24px
        text-align center
    .other-videos
      background #33424D
      padding-bottom 50px
      h2
        font-size 18px
        font-weight 600
        color #999
        text-transform uppercase
        margin 30px 0 20px


          