---
layout: comedy
permalink: /comedy
title: Curius.tv - Comedy
description: Curius.tv is just that.
---
<section class="landing comedy">
  <div class="container">
    <div class="video">
      <iframe src="https://player.vimeo.com/video/83660584?autoplay=1&amp;title=0&amp;byline=0&amp;portrait=0" width="100%" height="410" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
    </div>
    <div class="sidebar">
      <h1>Family Guy Episode 1</h1>
      <img src="assets/img/cola-ad-sq.png" alt="ad">
    </div>
  </div>
  <div class="other-videos">
    <div class="container">
      <h2>What to watch next</h2>
      <div>
        <div class="other-videos-thumb z-shadow">
          <a href="/comedy-1">
            <img src="https://i.vimeocdn.com/video/541963161_295x166.jpg">
            <div class="svg-play">
              {% include play-icon.svg %}
            </div>
            <h3>Jimmy Kimmel Live</h3>
          </a>
        </div>
        <div class="other-videos-thumb z-shadow">
          <a href="/comedy-2">
            <img src="https://i.vimeocdn.com/video/522553279_295x166.jpg">
            <div class="svg-play">
              {% include play-icon.svg %}
            </div>
            <h3>Trevor Noah</h3>
          </a>
        </div>
        <div class="other-videos-thumb z-shadow">
          <a href="/comedy-3">
            <img src="https://i.vimeocdn.com/video/325562929_295x166.jpg">
            <div class="svg-play">
              {% include play-icon.svg %}
            </div>
            <h3>George Carlin</h3>
          </a>
        </div>
        <div class="other-videos-thumb z-shadow">
          <a href="/comedy-4">
            <img src="https://i.vimeocdn.com/video/170175806_295x166.jpg">
            <div class="svg-play">
              {% include play-icon.svg %}
            </div>
            <h3>Louie C.K.</h3>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" src="https://vibbify-prod.vibby.com/static/vibbify_default.min.js"></script>