---
layout: default
permalink: /sports-4
title: Curius.tv - Sports 4
description: Curius.tv is just that.
---
<section class="landing">
  <div class="container">
    <div class="video-wrapper">
      <div class="video">
        <video id="player-container-bc" class="video-js bc-player" controls="controls" data-video-id="5723845791001" data-account="5359769130001" data-player="default" data-embed="default" data-application-id=""></video>
      </div>
    </div>
    <div class="sidebar">
      <h1>Football</h1>
      <img src="assets/img/cola-ad-sq.png" alt="ad">
    </div>
    <div class="other-videos">
      <div class="other-videos-thumb">
        <a href="/">
          <img src="https://i.vimeocdn.com/video/178141134_295x166.jpg">
          <div class="svg-play">
            {% include play-icon.svg %}
          </div>
          <h3>Basketball U20</h3>
        </a>
      </div>
      <div class="other-videos-thumb">
        <a href="/sports-2">
          <img src="https://i.vimeocdn.com/video/666393390_295x166.jpg">
          <div class="svg-play">
            {% include play-icon.svg %}
          </div>
          <h3>Snowboarding</h3>
        </a>
      </div>
      <div class="other-videos-thumb">
        <a href="/sports-3">
          <img src="https://i.vimeocdn.com/video/459691962_295x166.jpg">
          <div class="svg-play">
            {% include play-icon.svg %}
          </div>
          <h3>Soccer</h3>
        </a>
      </div>
      <div class="other-videos-thumb">
        <a href="/sports-1">
          <img src="https://i.vimeocdn.com/video/434389122_295x166.jpg">
          <div class="svg-play">
            {% include play-icon.svg %}
          </div>
          <h3>College Basketball</h3>
        </a>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="//players.brightcove.net/5359769130001/default_default/index.min.js"></script>
<script type="text/javascript" src="https://vibbify-prod.vibby.com/static/vibbify_curius.min.js"></script>
<script>
var bcPlayerApi = videojs('player-container-bc')
</script>