---
layout: default
permalink: /sports-3
title: Curius.tv - Sports 3
description: Curius.tv is just that.
---
<section class="landing">
  <div class="container">
    <div class="video-wrapper">
      <div class="video">
        <iframe src="https://player.vimeo.com/video/83254630?autoplay=1&amp;title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
      </div>
    </div>
    <div class="sidebar">
      <h1>Soccer</h1>
      <img src="assets/img/cola-ad.png" alt="ad">
    </div>
    <div class="other-videos">
      <div class="other-videos-thumb">
        <a href="/">
          <img src="https://i.vimeocdn.com/video/178141134_295x166.jpg">
          <div class="svg-play">
            {% include play-icon.svg %}
          </div>
          <h3>Basketball U20</h3>
        </a>
      </div>
      <div class="other-videos-thumb">
        <a href="/sports-2">
          <img src="https://i.vimeocdn.com/video/666393390_295x166.jpg">
          <div class="svg-play">
            {% include play-icon.svg %}
          </div>
          <h3>Snowboarding</h3>
        </a>
      </div>
      <div class="other-videos-thumb">
        <a href="/sports-1">
          <img src="https://i.vimeocdn.com/video/434389122_295x166.jpg">
          <div class="svg-play">
            {% include play-icon.svg %}
          </div>
          <h3>College Basketball</h3>
        </a>
      </div>
      <div class="other-videos-thumb">
        <a href="/sports-4">
          <img src="https://i.vimeocdn.com/video/404227722_295x166.jpg">
          <div class="svg-play">
            {% include play-icon.svg %}
          </div>
          <h3>Football</h3>
        </a>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" src="https://vibbify-prod.vibby.com/static/vibbify_default.min.js"></script>