/* normalize/.styl | http://github.com/nulltask/normalize/.styl */
/* based on hail2u's normalize/.scss | https://github.com/hail2u/normalize/.scss */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
b,
strong {
  font-weight: 700;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
body {
  font-weight: 400;
  background-color: #1b1e26;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
}
body.comedy-body {
  background-color: #181f24;
}
a {
  position: relative;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: #2ca3ff;
}
.z-shadow,
.scroll {
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.16);
  box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.16);
}
.z-shadow-1 {
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.16);
  box-shadow: 0 1px 4px rgba(0,0,0,0.16);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
@media only screen and (min-width: 992px) {
  .z-shadow-1:hover {
    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 6px 6px rgba(0,0,0,0.2);
    box-shadow: 0 10px 20px rgba(0,0,0,0.16), 0 6px 6px rgba(0,0,0,0.2);
  }
}
.z-shadow-inner {
  -webkit-box-shadow: 0 -3px 6px rgba(0,0,0,0.1);
  box-shadow: 0 -3px 6px rgba(0,0,0,0.1);
}
.z-shadow-6 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px 0 rgba(0,0,0,0.2);
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px 0 rgba(0,0,0,0.2);
}
.form-field-group {
  position: relative;
  margin-bottom: 35px;
  width: 100%;
}
.form-field-group input,
.form-field-group textarea {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #e7ebf4;
  background-color: transparent;
}
.form-field-group input:focus,
.form-field-group textarea:focus {
  outline: 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-color: #6d7791;
}
.form-field-group input:disabled,
.form-field-group textarea:disabled {
  background-color: transparent;
}
.form-field-group input:focus ~ .bar:before,
.form-field-group textarea:focus ~ .bar:before,
.form-field-group input:focus ~ .bar:after,
.form-field-group textarea:focus ~ .bar:after {
  width: 50%;
}
.form-field-group input:focus ~ label,
.form-field-group textarea:focus ~ label,
.form-field-group input:valid ~ label,
.form-field-group textarea:valid ~ label {
  top: -20px;
  font-size: 14px;
}
.form-field-group textarea {
  resize: none;
  min-height: 150px;
  max-height: 200px;
}
.form-field-group label {
  color: #f4f4f4;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
.form-field-group .bar {
  position: relative;
  display: block;
  width: 100%;
}
.form-field-group .bar:before,
.form-field-group .bar:after {
  content: '';
  height: 3px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #2ca3ff;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
.form-field-group .bar:before {
  left: 50%;
}
.form-field-group .bar:after {
  right: 50%;
}
@charset "UTF-8";
html {
  font-size: 87.5%;
}
body {
  margin: 0;
  padding: 0;
  line-height: 1.428571428571429;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: 400;
  color: #4a4a4a;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: bold;
}
h1,
.h1 {
  margin-bottom: 0.248015873015873em;
  font-size: 1.44em;
  line-height: 1.488095238095238;
}
@media (min-width: 43.75em) {
  h1,
  .h1 {
    margin-bottom: 0.206679894179894em;
    font-size: 1.728em;
    line-height: 1.653439153439153;
  }
}
@media (min-width: 56.25em) {
  h1,
  .h1 {
    margin-bottom: 0.172233245149912em;
    font-size: 2.0736em;
    line-height: 1.722332451499118;
  }
}
h2,
.h2 {
  margin-bottom: 0.297619047619048em;
  font-size: 1.2em;
  line-height: 1.488095238095238;
}
@media (min-width: 43.75em) {
  h2,
  .h2 {
    margin-bottom: 0.248015873015873em;
    font-size: 1.44em;
    line-height: 1.488095238095238;
  }
}
@media (min-width: 56.25em) {
  h2,
  .h2 {
    margin-bottom: 0.206679894179894em;
    font-size: 1.728em;
    line-height: 1.653439153439153;
  }
}
h3,
.h3 {
  margin-bottom: 0.297619047619048em;
  font-size: 1.2em;
  line-height: 1.488095238095238;
}
@media (min-width: 56.25em) {
  h3,
  .h3 {
    margin-bottom: 0.248015873015873em;
    font-size: 1.44em;
    line-height: 1.488095238095238;
  }
}
h4,
.h4 {
  margin-bottom: 0.297619047619048em;
  font-size: 1.2em;
  line-height: 1.488095238095238;
}
h5,
.h5,
h6,
.h6 {
  margin-bottom: 0.357142857142857em;
  font-size: 1em;
  line-height: 1.428571428571429;
}
p {
  margin-top: 0;
  margin-bottom: 1.428571428571429em;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 34.285714285714285em;
}
small,
.font-small {
  font-size: 0.833333333333333em;
  line-height: 1.285714285714286;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
blockquote {
  margin-top: 1.428571428571429em;
  margin-bottom: 1.428571428571429em;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1.428571428571429em;
  border-left: 5px solid #808080;
  font-family: 'Roboto', Arial, sans-serif;
}
blockquote p {
  margin-bottom: 0.714285714285714em;
}
blockquote footer cite:before {
  content: " – ";
}
pre,
code {
  font-family: 'Lucida Console', Monaco, monospace;
}
time,
.time {
  text-transform: uppercase;
}
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1.428571428571429em;
  margin-left: 1.428571428571429em;
  padding-top: 0;
  padding-bottom: 0;
}
ul ul,
ol ol,
dl dl {
  margin-left: 0;
}
ul {
  list-style: none;
}
ol {
  list-style: decimal;
}
abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
}
abbr[title]:hover {
  cursor: help;
}
hr {
  margin-top: 1.428571428571429em;
  margin-bottom: 0;
  border: none;
  border-top-color: #4a4a4a;
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 1.357142857142857em;
}
h1 {
  font-size: 2.985984em;
  line-height: 1.196064202429943;
  letter-spacing: -0.3px;
  font-weight: 500;
}
@media only screen and (max-width: 992px) {
  h1 {
    font-size: 2.0736em;
    line-height: 1.377865961199294;
  }
}
h2 {
  font-size: 2.985984em;
  line-height: 1.196064202429943;
  font-weight: 500;
}
@media only screen and (max-width: 992px) {
  h2 {
    font-size: 2.0736em;
    line-height: 1.377865961199294;
  }
}
h3 {
  font-size: 1.44em;
  line-height: 1.488095238095238;
  font-weight: 300;
}
@media only screen and (max-width: 992px) {
  h3 {
    font-size: 1em;
    line-height: 1.785714285714286;
    font-weight: 400;
  }
}
h4 {
  font-size: 1.2em;
  line-height: 1.785714285714286;
  font-weight: 300;
}
@media only screen and (max-width: 992px) {
  h4 {
    font-size: 1em;
    line-height: 1.428571428571429;
    font-weight: 400;
  }
}
h5 {
  font-size: 1.2em;
  line-height: 1.19047619047619;
  font-weight: 500;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
medium {
  font-weight: 500;
}
.accordion-tabs {
  padding: 0;
  text-align: center;
  position: relative;
  margin-bottom: 0px;
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.accordion-tabs .tab-header-and-content {
  list-style: none;
  display: inline;
}
.accordion-tabs .tab-link {
  display: inline-block;
  text-align: center;
  padding: 5px 20px;
  border-bottom: 4px solid transparent;
  font-size: 1.618rem;
}
@media only screen and (max-width: 544px) {
  .accordion-tabs .tab-link {
    padding: 5px 10px;
  }
}
.accordion-tabs .is-active {
  border-bottom: 4px solid #2ca3ff;
}
.accordion-tabs .tab-content {
  display: none;
  width: 100%;
  float: left;
  margin-top: 1.785714285714286em;
  text-align: left;
  overflow: visible;
  height: 600px;
  background-size: 100%;
  background-position: 0 100%;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 1024px) {
  .accordion-tabs .tab-content {
    height: 450px;
  }
}
@media only screen and (max-width: 730px) {
  .accordion-tabs .tab-content {
    height: 300px;
    padding: 0px 15px;
    margin-top: 1.071428571428571em;
  }
}
.accordion-tabs .tab-content p {
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}
.accordion-tabs .tab-content.cm {
  background-image: url("https://s3-eu-west-1.amazonaws.com/vibby-static/LandingPage/landing/cm-bg.png");
}
.accordion-tabs .tab-content.education {
  background-image: url("https://s3-eu-west-1.amazonaws.com/vibby-static/LandingPage/landing/education-bg.png");
}
.accordion-tabs .tab-content.gaming {
  background-image: url("https://s3-eu-west-1.amazonaws.com/vibby-static/LandingPage/landing/gamers-bg.png");
}
.accordion-tabs .tab-content.sports {
  background-image: url("https://s3-eu-west-1.amazonaws.com/vibby-static/LandingPage/landing/sports-bg.png");
}
.grid:before,
.grid:after {
  content: "";
  display: table;
}
.grid:after {
  clear: both;
}
.container {
  width: auto;
  max-width: 1440px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding-left: 15px;
  padding-right: 15px;
}
.container::after {
  content: '';
  display: table;
  clear: both;
}
@media (max-width: 544px) {
  .container {
    max-width: 514px;
  }
}
@media (max-width: 730px) {
  .container {
    max-width: 700px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 962px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 994px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
.logo {
  display: block;
  margin-top: 10px;
  float: left;
  margin-right: 30px;
  font-size: 28px;
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
}
.scroll svg .shape {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  fill: #6a7bff;
}
nav.main-nav {
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 14px;
  font-weight: 500;
}
nav.main-nav .container {
  overflow: hidden;
}
nav.main-nav ul,
nav.main-nav li {
  display: inline-block;
  line-height: 45px;
}
nav.main-nav ul {
  margin-left: 0px;
  margin-bottom: 0px;
}
nav.main-nav li a {
  display: inline-block;
}
nav.main-nav li {
  float: left;
  border-top: 4px solid transparent;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
nav.main-nav .left-nav {
  float: left;
}
nav.main-nav .left-nav li:not(:last-child) {
  margin-right: 30px;
}
nav.main-nav .right-nav {
  float: right;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media only screen and (min-width: 760px) {
  nav.main-nav .right-nav li:not(:first-child) {
    margin-left: 30px;
  }
}
nav.main-nav.scroll {
  background-color: #363c4d;
  padding-top: 0;
}
nav.main-nav .navs {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
@media only screen and (max-width: 760px) {
  nav.main-nav .navs {
    position: fixed;
    right: -100%;
    top: 0;
    bottom: 0;
    background-color: #2e3341;
    padding: 60px 30px 0px 30px;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.16);
    box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.16);
  }
  nav.main-nav .navs ul,
  nav.main-nav .navs li,
  nav.main-nav .navs a {
    float: none;
    display: block;
  }
  nav.main-nav .navs .right-nav {
    clear: both;
    float: left;
  }
}
nav.main-nav .navs.mobile-menu {
  right: 0;
}
nav.main-nav .menu-icon {
  float: right;
  right: 100px;
  cursor: pointer;
  z-index: 10000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 17px;
  display: block;
}
nav.main-nav .menu-icon:focus {
  outline: none;
}
@media only screen and (min-width: 760px) {
  nav.main-nav .menu-icon {
    display: none;
  }
}
nav.main-nav .menu-icon .sh {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: relative;
  margin-bottom: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 2px;
}
nav.main-nav .menu-icon .sh:focus {
  outline: none;
}
nav.main-nav .menu-icon--active .sh2 {
  background-color: rgba(0,0,0,0);
  -webkit-transform: translateX(-5px);
  transform: translateX(-5px);
}
nav.main-nav .menu-icon--active .sh1 {
  -webkit-transform: rotate(45deg) translateX(4px) translateY(7px);
  transform: rotate(45deg) translateX(4px) translateY(7px);
}
nav.main-nav .menu-icon--active .sh3 {
  -webkit-transform: rotate(-45deg) translateX(4px) translateY(-8px);
  transform: rotate(-45deg) translateX(4px) translateY(-8px);
}
nav.main-nav .menu-icon--active .text {
  display: none;
}
nav.main-nav .menu-icon .sh3 {
  margin: 0px;
}
.comedy-nav a,
.comedy-nav .logo {
  font-style: normal;
  text-transform: uppercase;
  color: #3cced6 !important;
}
.cta,
.cta__primary,
.cta__primary--big,
.cta__primary--sm,
.cta__secondary {
  color: #fff;
  padding: 13px 25px;
  border-radius: 2px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}
.cta__primary,
.cta__primary--big,
.cta__primary--sm {
  background: #2ca3ff;
}
.cta__primary .fa,
.cta__primary--big .fa,
.cta__primary--sm .fa {
  margin-right: 5px;
  color: #2ca3ff;
}
.cta__primary svg,
.cta__primary--big svg,
.cta__primary--sm svg {
  width: 18px;
  height: 18px;
  margin-right: 5px;
}
.cta__primary:hover svg,
.cta__primary--big:hover svg,
.cta__primary--sm:hover svg,
.cta__primary:hover .fa,
.cta__primary--big:hover .fa,
.cta__primary--sm:hover .fa {
  -webkit-animation: spin 600ms ease-in-out;
  animation: spin 600ms ease-in-out;
}
.cta__primary--big {
  margin-top: 2.142857142857143em;
  background-color: #fff;
  color: #2ca3ff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.cta__primary--big .fa {
  color: #2ca3ff;
  font-size: 24px;
  margin-right: 7px;
}
.cta__primary--big svg {
  width: 24px;
  height: 24px;
  margin-right: 7px;
}
.cta__primary--big #illustration {
  fill: #2ca3ff;
}
.cta__primary--sm {
  color: #2ca3ff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.cta__primary--sm:hover {
  background-color: #0087ef;
}
.cta__primary--sm .fa {
  color: #fff;
}
.cta__secondary {
  margin-top: 2.142857142857143em;
  background-color: #555f7a;
}
.cta__secondary:hover {
  background-color: #464d63;
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.landing img {
  max-width: 100%;
}
.landing .video {
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.66666666666666%;
  margin-left: 0%;
  margin-right: 3%;
  position: relative;
}
.landing .video::after {
  content: '';
  display: table;
  clear: both;
}
.landing .video:nth-child(n) {
  margin-right: 3%;
  float: left;
  clear: none;
}
.landing .video:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
.landing .video:nth-child(2n + 1) {
  clear: both;
}
.landing .video iframe {
  line-height: 0;
}
.landing .video #createHighlightBtnDiv-vimeo-0 {
  position: absolute;
  bottom: 53px;
}
.landing .video #createHighlightBtnDiv-vimeo-0 .cc-container {
  margin-top: 0;
  top: initial;
  left: 10px;
}
.landing .video #createHighlightBtnDiv-vimeo-0 .cc-container .cc-btn-container-share {
  bottom: initial;
}
.landing .video #createHighlightBtnDiv-vimeo-0 .vimeo-highlights {
  height: 10px;
  left: 0;
  opacity: 0;
}
.landing .video #createHighlightBtnDiv-vimeo-0 .vimeo-highlights .impact-div {
  height: 8px !important;
  top: 0 !important;
}
.landing .video:hover #createHighlightBtnDiv-vimeo-0 {
  width: 100%;
}
.landing .video:hover #createHighlightBtnDiv-vimeo-0 .vimeo-highlights {
  opacity: 1;
}
.landing .sidebar {
  float: left;
  clear: none;
  text-align: inherit;
  width: 31.33333333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
.landing .sidebar::after {
  content: '';
  display: table;
  clear: both;
}
.landing .sidebar:nth-child(n) {
  margin-right: 3%;
  float: left;
  clear: none;
}
.landing .sidebar:nth-child(2n) {
  margin-right: 0%;
  float: right;
}
.landing .sidebar:nth-child(2n + 1) {
  clear: both;
}
.landing .sidebar h1 {
  text-transform: uppercase;
  color: #2ca3ff;
  font-size: 24px;
  text-align: center;
}
.landing .other-videos {
  margin-top: 40px;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}
.landing .other-videos::after {
  content: '';
  display: table;
  clear: both;
}
.landing .other-videos-thumb {
  float: left;
  clear: none;
  text-align: inherit;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
  height: 145px;
}
.landing .other-videos-thumb::after {
  content: '';
  display: table;
  clear: both;
}
.landing .other-videos-thumb:nth-child(n) {
  margin-right: 3%;
  float: left;
  clear: none;
}
.landing .other-videos-thumb:nth-child(4n) {
  margin-right: 0%;
  float: right;
}
.landing .other-videos-thumb:nth-child(4n + 1) {
  clear: both;
}
.landing .other-videos-thumb a {
  display: inline-block;
}
.landing .other-videos-thumb img {
  opacity: 0.3;
  -webkit-transition: 200ms all ease-in;
  transition: 200ms all ease-in;
}
.landing .other-videos-thumb .svg-play {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  top: 45px;
}
.landing .other-videos-thumb h3 {
  text-align: center;
  color: #fff;
  font-weight: 600;
  margin-top: -40px;
  -webkit-transition: 200ms all ease-in;
  transition: 200ms all ease-in;
}
.landing .other-videos-thumb:hover img {
  opacity: 0.5;
}
.landing.comedy .sidebar h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 24px;
  text-align: center;
}
.landing.comedy .other-videos {
  background: #33424d;
  padding-bottom: 50px;
}
.landing.comedy .other-videos h2 {
  font-size: 18px;
  font-weight: 600;
  color: #999;
  text-transform: uppercase;
  margin: 30px 0 20px;
}
footer {
  background-color: #2e3341;
  font-size: 12px;
  float: left;
  clear: none;
  text-align: inherit;
  width: 100%;
  margin-left: 0%;
  margin-right: 0%;
}
footer::after {
  content: '';
  display: table;
  clear: both;
}
footer .container {
  padding: 60px 15px;
}
@media only screen and (max-width: 730px) {
  footer .container .footer-logo {
    display: none;
  }
}
footer .container .footer-logo svg {
  width: 130px;
}
footer .container .footer-logo .text,
footer .container .footer-logo .shape {
  fill: #fff;
}
footer .container ul {
  margin-left: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
}
footer .container ul li a {
  color: #2ca3ff;
  text-transform: uppercase;
  font-weight: 500;
}
footer .container ul li a:hover {
  color: #fff;
}
footer .container .company {
  float: left;
  clear: none;
  text-align: inherit;
  width: 25%;
  margin-left: 0%;
  margin-right: 0%;
}
footer .container .company::after {
  content: '';
  display: table;
  clear: both;
}
@media only screen and (max-width: 730px) {
  footer .container .company {
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
  footer .container .company::after {
    content: '';
    display: table;
    clear: both;
  }
}
footer .container .connect {
  float: left;
  clear: none;
  text-align: inherit;
  width: 75%;
  margin-left: 0%;
  margin-right: 0%;
  text-align: right;
}
footer .container .connect::after {
  content: '';
  display: table;
  clear: both;
}
@media only screen and (max-width: 730px) {
  footer .container .connect {
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
  footer .container .connect::after {
    content: '';
    display: table;
    clear: both;
  }
}
footer .container .connect ul {
  margin-top: 1.428571428571429em;
}
@media only screen and (min-width: 730px) {
  footer .container .connect ul {
    float: right;
  }
}
@media only screen and (max-width: 730px) {
  footer .container .connect ul {
    text-align: center;
  }
}
footer .container .connect ul li {
  text-align: center;
  display: inline-block;
}
@media only screen and (max-width: 730px) {
  footer .container .connect ul li {
    margin-bottom: 10px;
  }
  footer .container .connect ul li:not(:first-child) {
    margin-left: 20px;
  }
}
@media only screen and (min-width: 730px) {
  footer .container .connect ul li {
    float: left;
  }
  footer .container .connect ul li:not(:last-child) {
    margin-right: 30px;
  }
}
@media only screen and (max-width: 730px) {
  footer .container .connect {
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
  footer .container .connect::after {
    content: '';
    display: table;
    clear: both;
  }
}
footer .container .legal {
  float: left;
  clear: none;
  text-align: inherit;
  width: 75%;
  margin-left: 0%;
  margin-right: 0%;
}
footer .container .legal::after {
  content: '';
  display: table;
  clear: both;
}
@media only screen and (max-width: 730px) {
  footer .container .legal {
    float: left;
    clear: none;
    text-align: inherit;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
  footer .container .legal::after {
    content: '';
    display: table;
    clear: both;
  }
}
footer .container .legal ul li {
  text-align: center;
}
@media only screen and (min-width: 730px) {
  footer .container .legal ul li {
    float: right;
  }
  footer .container .legal ul li:not(:last-child) {
    margin-right: 20px;
  }
}
footer .container .legal ul .copyright {
  color: #f4f4f4;
}
